
@{
    ViewBag.Title = "top";
    Layout = "~/Views/Shared/_houtaimuban.cshtml";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>top</title>
    <link href="~/Content/css/eys_stly.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="top">
        <div class="top_left">栗子商城后台系统</div>
        <div class="top_right">欢迎：<a href="#" id="admins_cookies">xxxxx</a><i class="pass_top_i"></i><i class="exit_top_i"></i></div>
        <script>

            setInterval(daojishi, 1200000);

            var admins_cookies = document.getElementById("admins_cookies");
            var denglu = document.getElementById("denglu");

            window.onload = function () {
                if (localStorage.getItem("admins") == null) {
                    admins_cookies.innerHTML = "xxxxx";
                }
                else {
                    admins_cookies.innerHTML = localStorage.getItem("admins");
                }
            }

            function daojishi() {
                localStorage.removeItem("admins");
            }

        </script>

    </div>
</body>
</html>
