USE [master]
GO
/****** Object:  Database [lizishopping]    Script Date: 2020/11/19 11:10:09 ******/
CREATE DATABASE [lizishopping]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'lizishopping', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\lizishopping.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'lizishopping_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\lizishopping_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [lizishopping].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [lizishopping]
GO
/****** Object:  Table [dbo].[Appraise]    Script Date: 2020/11/19 11:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appraise](
	[AppraiseID] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](max) NULL,
	[Grade] [int] NULL,
	[Ratetime] [nvarchar](100) NULL,
	[SKUId] [int] NULL,
	[UserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AppraiseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoodImg]    Script Date: 2020/11/19 11:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodImg](
	[GoodImg_ID] [int] IDENTITY(1,1) NOT NULL,
	[SKUID] [int] NULL,
	[GoodImg_Url] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[GoodImg_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoodsPhotoTable]    Script Date: 2020/11/19 11:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsPhotoTable](
	[PhotoID] [int] IDENTITY(1,1) NOT NULL,
	[Photo_one] [nvarchar](150) NULL,
	[Photo_two] [nvarchar](150) NULL,
	[Photo_three] [nvarchar](150) NULL,
	[Photo_four] [nvarchar](150) NULL,
	[Photo_five] [nvarchar](150) NULL,
	[SKUId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PhotoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[goodsSKUTables]    Script Date: 2020/11/19 11:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[goodsSKUTables](
	[SKUId] [int] IDENTITY(1,1) NOT NULL,
	[SKUGoodName] [nvarchar](50) NULL,
	[Goods_Description] [nvarchar](300) NULL,
	[GoodPrice] [money] NULL,
	[inventory] [int] NULL,
	[GoodPhoto] [nvarchar](100) NULL,
	[SPUID] [int] NULL,
	[BusinName] [nvarchar](20) NULL,
	[onclicknum] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SKUId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[goodsSPUTables]    Script Date: 2020/11/19 11:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[goodsSPUTables](
	[SPUID] [int] IDENTITY(1,1) NOT NULL,
	[SPUGoodName] [nvarchar](50) NULL,
	[GoodInfo] [nvarchar](500) NULL,
	[ShopID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SPUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MangeAdmin]    Script Date: 2020/11/19 11:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MangeAdmin](
	[MangeAdminID] [int] IDENTITY(1,1) NOT NULL,
	[Admins] [nvarchar](50) NULL,
	[Pwd] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MangeAdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderGoodslist]    Script Date: 2020/11/19 11:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderGoodslist](
	[OGid] [int] IDENTITY(1,1) NOT NULL,
	[SKUId] [int] NULL,
	[GoodNum] [int] NULL,
	[GoodPrice] [int] NULL,
	[OrderID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OGid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderInfo]    Script Date: 2020/11/19 11:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderInfo](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[AddressId] [int] NULL,
	[Total] [money] NULL,
	[TranMoney] [money] NULL,
	[PayState] [nvarchar](20) NULL,
	[CreateTime] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopCategory]    Script Date: 2020/11/19 11:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopCategory](
	[ShopID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ShopID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppCar]    Script Date: 2020/11/19 11:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppCar](
	[ShopCardID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[SKUId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShopCardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shoucang]    Script Date: 2020/11/19 11:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shoucang](
	[shoucang_id] [int] IDENTITY(1,1) NOT NULL,
	[SKUID] [int] NULL,
	[UserID] [int] NULL,
	[shoucang_state] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[shoucang_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_addressTable]    Script Date: 2020/11/19 11:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_addressTable](
	[AddressId] [int] IDENTITY(1,1) NOT NULL,
	[consigneeName] [nvarchar](50) NULL,
	[Adress] [nvarchar](50) NULL,
	[postal_code] [nvarchar](50) NULL,
	[contact_way] [nvarchar](50) NULL,
	[UserId] [int] NULL,
	[default_Address] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTable]    Script Date: 2020/11/19 11:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTable](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[UserPassWord] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[limits] [nvarchar](50) NULL,
	[Userstatus] [int] NULL,
	[nicheng] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appraise] ON 

INSERT [dbo].[Appraise] ([AppraiseID], [content], [Grade], [Ratetime], [SKUId], [UserId]) VALUES (1, N'231231231231231', 5, N'234', 11, 1)
INSERT [dbo].[Appraise] ([AppraiseID], [content], [Grade], [Ratetime], [SKUId], [UserId]) VALUES (2, N'123123213123', 5, N'234', 11, 1)
INSERT [dbo].[Appraise] ([AppraiseID], [content], [Grade], [Ratetime], [SKUId], [UserId]) VALUES (3, N'手机很好用', 5, N'2020/6/12 下午6:55:19', 11, 2)
SET IDENTITY_INSERT [dbo].[Appraise] OFF
GO
SET IDENTITY_INSERT [dbo].[GoodsPhotoTable] ON 

INSERT [dbo].[GoodsPhotoTable] ([PhotoID], [Photo_one], [Photo_two], [Photo_three], [Photo_four], [Photo_five], [SKUId]) VALUES (1, N'huawei1.jpg', N'44809c27b8b55532461a1da10678bd290c6195df.jpg', N'38dbb6fd5266d01623801865972bd40734fa35e5.jpg', N'9cf15413150d8f67.jpg', N'1.jpg', 11)
INSERT [dbo].[GoodsPhotoTable] ([PhotoID], [Photo_one], [Photo_two], [Photo_three], [Photo_four], [Photo_five], [SKUId]) VALUES (2, N'huawei1.jpg', N'huawei3.jpg', N'huawei4.jpg', N'huawei5.jpg', NULL, 12)
INSERT [dbo].[GoodsPhotoTable] ([PhotoID], [Photo_one], [Photo_two], [Photo_three], [Photo_four], [Photo_five], [SKUId]) VALUES (3, N'59ef075d89484.png', N'huawei1.jpg', N'huawei3.jpg', N'huawei4.jpg', NULL, 13)
SET IDENTITY_INSERT [dbo].[GoodsPhotoTable] OFF
GO
SET IDENTITY_INSERT [dbo].[goodsSKUTables] ON 

INSERT [dbo].[goodsSKUTables] ([SKUId], [SKUGoodName], [Goods_Description], [GoodPrice], [inventory], [GoodPhoto], [SPUID], [BusinName], [onclicknum]) VALUES (7, N'
阿里夸·洛伯蒂斯', N'暂无介绍', 123.0000, 123, N'product4.jpg', 29, N'是', 0)
INSERT [dbo].[goodsSKUTables] ([SKUId], [SKUGoodName], [Goods_Description], [GoodPrice], [inventory], [GoodPhoto], [SPUID], [BusinName], [onclicknum]) VALUES (8, N'艾尼安·特里斯蒂克', N'暂无介绍', 3333.0000, 2123, N'product5.jpg', 29, N'是', 0)
INSERT [dbo].[goodsSKUTables] ([SKUId], [SKUGoodName], [Goods_Description], [GoodPrice], [inventory], [GoodPhoto], [SPUID], [BusinName], [onclicknum]) VALUES (9, N'埃尼安射手座', N'暂无介绍', 423.0000, 123, N'product2.jpg', 29, N'是', 0)
SET IDENTITY_INSERT [dbo].[goodsSKUTables] OFF
GO
SET IDENTITY_INSERT [dbo].[goodsSPUTables] ON 

INSERT [dbo].[goodsSPUTables] ([SPUID], [SPUGoodName], [GoodInfo], [ShopID]) VALUES (13, N'小米手机', N'高端大气上档次', 3)
INSERT [dbo].[goodsSPUTables] ([SPUID], [SPUGoodName], [GoodInfo], [ShopID]) VALUES (14, N'小米手机', N'111', 3)
INSERT [dbo].[goodsSPUTables] ([SPUID], [SPUGoodName], [GoodInfo], [ShopID]) VALUES (29, N'酸辣粉', N'暂无介绍', 2)
SET IDENTITY_INSERT [dbo].[goodsSPUTables] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderGoodslist] ON 

INSERT [dbo].[OrderGoodslist] ([OGid], [SKUId], [GoodNum], [GoodPrice], [OrderID]) VALUES (3, 11, 1, 4019, 4)
INSERT [dbo].[OrderGoodslist] ([OGid], [SKUId], [GoodNum], [GoodPrice], [OrderID]) VALUES (4, 14, 1, 4020, 5)
INSERT [dbo].[OrderGoodslist] ([OGid], [SKUId], [GoodNum], [GoodPrice], [OrderID]) VALUES (5, 7, 1, 143, 6)
SET IDENTITY_INSERT [dbo].[OrderGoodslist] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderInfo] ON 

INSERT [dbo].[OrderInfo] ([OrderID], [UserId], [AddressId], [Total], [TranMoney], [PayState], [CreateTime]) VALUES (4, 1, 1, 3999.0000, 20.0000, N'已付款', N'2020/5/30 下午5:24:28')
INSERT [dbo].[OrderInfo] ([OrderID], [UserId], [AddressId], [Total], [TranMoney], [PayState], [CreateTime]) VALUES (5, 1, 1, 4000.0000, 20.0000, N'已付款', N'2020/5/30 下午5:27:06')
INSERT [dbo].[OrderInfo] ([OrderID], [UserId], [AddressId], [Total], [TranMoney], [PayState], [CreateTime]) VALUES (6, 1, 1, 123.0000, 20.0000, N'已付款', N'2020/5/30 下午5:29:45')
SET IDENTITY_INSERT [dbo].[OrderInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[ShopCategory] ON 

INSERT [dbo].[ShopCategory] ([ShopID], [TypeName]) VALUES (1, N'电脑')
INSERT [dbo].[ShopCategory] ([ShopID], [TypeName]) VALUES (2, N'家居')
INSERT [dbo].[ShopCategory] ([ShopID], [TypeName]) VALUES (3, N'美食')
SET IDENTITY_INSERT [dbo].[ShopCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[ShoppCar] ON 

INSERT [dbo].[ShoppCar] ([ShopCardID], [UserID], [SKUId]) VALUES (19, 1, 35)
SET IDENTITY_INSERT [dbo].[ShoppCar] OFF
GO
SET IDENTITY_INSERT [dbo].[shoucang] ON 

INSERT [dbo].[shoucang] ([shoucang_id], [SKUID], [UserID], [shoucang_state]) VALUES (1, 12, 1, 1)
INSERT [dbo].[shoucang] ([shoucang_id], [SKUID], [UserID], [shoucang_state]) VALUES (2, 11, 1, 1)
INSERT [dbo].[shoucang] ([shoucang_id], [SKUID], [UserID], [shoucang_state]) VALUES (3, 14, 1, 1)
SET IDENTITY_INSERT [dbo].[shoucang] OFF
GO
SET IDENTITY_INSERT [dbo].[User_addressTable] ON 

INSERT [dbo].[User_addressTable] ([AddressId], [consigneeName], [Adress], [postal_code], [contact_way], [UserId], [default_Address]) VALUES (1, N'栗子', N'平顶山', N'476000', N'17638416075', 1, N'1')
INSERT [dbo].[User_addressTable] ([AddressId], [consigneeName], [Adress], [postal_code], [contact_way], [UserId], [default_Address]) VALUES (2, N'栗子', N'河南省商丘市梁园区', N'476000', N'15224787219', 1, N'0')
INSERT [dbo].[User_addressTable] ([AddressId], [consigneeName], [Adress], [postal_code], [contact_way], [UserId], [default_Address]) VALUES (3, N'111', N'111', N'111', N'111', 1, N'0')
SET IDENTITY_INSERT [dbo].[User_addressTable] OFF
GO
SET IDENTITY_INSERT [dbo].[UserTable] ON 

INSERT [dbo].[UserTable] ([UserId], [UserName], [UserPassWord], [Email], [limits], [Userstatus], [nicheng]) VALUES (1, N'123456', N'123456', N'2@qq.com', N'1', 0, N'逆卷凌人')
INSERT [dbo].[UserTable] ([UserId], [UserName], [UserPassWord], [Email], [limits], [Userstatus], [nicheng]) VALUES (2, N'123', N'123', N'1@qq.com', N'1', 0, N'旗木卡卡西')
SET IDENTITY_INSERT [dbo].[UserTable] OFF
GO
ALTER TABLE [dbo].[goodsSKUTables] ADD  DEFAULT ((0)) FOR [onclicknum]
GO
ALTER TABLE [dbo].[UserTable] ADD  DEFAULT ('1') FOR [limits]
GO
ALTER TABLE [dbo].[UserTable] ADD  DEFAULT ((0)) FOR [Userstatus]
GO
/****** Object:  StoredProcedure [dbo].[add_order]    Script Date: 2020/11/19 11:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[add_order](
	@UserId int ,--外键参照用户信息表
	@AddressId int ,  --参照用户收货地址表
	@Total money,--金额
	@TranMoney money,--运费
	@PayState nvarchar(20),--支付状态
	@CreateTime nvarchar(50),  --订单创建时间

	@SKUId int ,--参照商品表
	@GoodNum int,--数量
	@GoodPrice int--实际支付价格
)
as
begin
	declare @id int 
	insert into OrderInfo values (@UserId,@AddressId,@Total,@TranMoney,@PayState,@CreateTime)
	set @id=@@identity --取到刚插入的id
	insert into OrderGoodslist values (@SKUId,@GoodNum,@GoodPrice,@id)
end 
GO
/****** Object:  StoredProcedure [dbo].[del_orders]    Script Date: 2020/11/19 11:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[del_orders](
@orderid int
)
as
    begin tran --开始执行事务
delete from OrderGoodslist where OrderID = @orderid
		delete from OrderInfo where OrderID = @orderid
if @@error<>0 --判断如果两条语句有任何一条出现错误
begin 
rollback --–开始执行事务的回滚，恢复的转账开始之前状态
end
else    --如何两条都执行成功
begin 
commit --执行这个事务的操作
end

GO
/****** Object:  StoredProcedure [dbo].[insertin]    Script Date: 2020/11/19 11:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertin](
    @SPUGoodName varchar(20),
    @GoodInfo varchar(20),
	@ShopID int
)
as
    --要求book_id和book_Auth列与输入参数相等
    insert into goodsSPUTables values(@SPUGoodName,@GoodInfo,@ShopID)
GO
/****** Object:  StoredProcedure [dbo].[selpro_detials_id]    Script Date: 2020/11/19 11:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[selpro_detials_id](
@id int 
)
as
    select sku.*,spu.SPUGoodName,spu.GoodInfo,shop.TypeName ,tp.PhotoID,tp.Photo_one,tp.Photo_two,tp.Photo_three,tp.Photo_four,tp.Photo_five from 
	goodsSKUTables sku,goodsSPUTables spu,ShopCategory shop,GoodsPhotoTable tp where 
	sku.SPUID = spu.SPUID and spu.ShopID = shop.ShopID and tp.SKUId = sku.SKUId and sku.SKUId = @id
GO
/****** Object:  StoredProcedure [dbo].[selpro_detials_SKUGoodName]    Script Date: 2020/11/19 11:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[selpro_detials_SKUGoodName](
@SKUGoodName nvarchar(50) 
)
as
    select sku.*,spu.SPUGoodName,spu.GoodInfo,shop.TypeName ,tp.PhotoID,tp.Photo_one,tp.Photo_two,tp.Photo_three,tp.Photo_four,tp.Photo_five from 
	goodsSKUTables sku,goodsSPUTables spu,ShopCategory shop,GoodsPhotoTable tp where 
	sku.SPUID = spu.SPUID and spu.ShopID = shop.ShopID and tp.SKUId = sku.SKUId and sku.SKUGoodName like @SKUGoodName
GO
/****** Object:  StoredProcedure [dbo].[selpro_pingjia_id]    Script Date: 2020/11/19 11:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[selpro_pingjia_id](
@id int
)
as
select sku.*,tp.PhotoID,tp.Photo_one,tp.Photo_two,tp.Photo_three,tp.Photo_four,
tp.Photo_five,app.AppraiseID,app.content,app.Grade,app.Ratetime,app.UserId ,u.UserName,u.Email,u.nicheng from 
	goodsSKUTables sku,goodsSPUTables spu,ShopCategory shop,GoodsPhotoTable tp,Appraise app,UserTable u where 
	sku.SPUID = spu.SPUID and spu.ShopID = shop.ShopID and tp.SKUId = sku.SKUId and app.SKUId = sku.SKUId and u.UserId = app.UserId and sku.SKUId = @id
GO
/****** Object:  StoredProcedure [dbo].[selpro_zuixin]    Script Date: 2020/11/19 11:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[selpro_zuixin]
as
--查询最后添加的三条数据

select TOP 3 sku.*,spu.SPUGoodName,spu.GoodInfo,shop.TypeName ,tp.PhotoID,tp.Photo_one,tp.Photo_two,tp.Photo_three,tp.Photo_four,tp.Photo_five from 
	goodsSKUTables sku,goodsSPUTables spu,ShopCategory shop,GoodsPhotoTable tp where 
	sku.SPUID = spu.SPUID and spu.ShopID = shop.ShopID and tp.SKUId = sku.SKUId order by sku.SKUId desc
GO
/****** Object:  StoredProcedure [dbo].[selprocart_userid]    Script Date: 2020/11/19 11:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[selprocart_userid](
@userid int
)
as
    --要求book_id和book_Auth列与输入参数相等
    select sku.*,spu.SPUGoodName,spu.GoodInfo,shop.TypeName,car.UserID,car.ShopCardID from 
	goodsSKUTables sku,goodsSPUTables spu,ShopCategory shop,ShoppCar car where 
	sku.SPUID = spu.SPUID and spu.ShopID = shop.ShopID and sku.SKUId = car.SKUId and car.UserID = @userid
GO
/****** Object:  StoredProcedure [dbo].[selproorders_all]    Script Date: 2020/11/19 11:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[selproorders_all]
as
    select distinct sku.SKUId,sku.SKUGoodName,sku.Goods_Description,sku.inventory,sku.GoodPhoto,sku.SPUID,u.UserName,ol.GoodPrice,ol.GoodNum,ol.OGid,oi.OrderID,oi.CreateTime,oi.PayState from 
	goodsSKUTables sku,UserTable u,OrderGoodslist ol,OrderInfo oi where 
 sku.SKUId = ol.SKUId and ol.OrderID = oi.OrderID and u.UserId = oi.UserId
GO
/****** Object:  StoredProcedure [dbo].[selproorders_zhuangtai]    Script Date: 2020/11/19 11:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[selproorders_zhuangtai](
@userid int,
@zhuangtai nvarchar(20)
)
as
    select distinct sku.SKUId,sku.SKUGoodName,sku.Goods_Description,sku.inventory,sku.GoodPhoto,sku.SPUID,u.UserName,ol.GoodPrice,oi.OrderID,oi.CreateTime,oi.PayState from 
	goodsSKUTables sku,UserTable u,OrderGoodslist ol,OrderInfo oi where 
 sku.SKUId = ol.SKUId and ol.OrderID = oi.OrderID and u.UserId = oi.UserId and oi.PayState=@zhuangtai and u.UserId = @userid
GO
/****** Object:  StoredProcedure [dbo].[selproxaingqing]    Script Date: 2020/11/19 11:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[selproxaingqing]
as
    --要求book_id和book_Auth列与输入参数相等
    select sku.*,spu.SPUGoodName,spu.GoodInfo,shop.TypeName from goodsSKUTables sku,goodsSPUTables spu,ShopCategory shop where sku.SPUID = spu.SPUID and spu.ShopID = shop.ShopID

GO
/****** Object:  StoredProcedure [dbo].[selproxiangqing_rexiao]    Script Date: 2020/11/19 11:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[selproxiangqing_rexiao]

as
    select top 5 sku.*,spu.SPUGoodName,spu.GoodInfo,shop.TypeName from 
	goodsSKUTables sku,goodsSPUTables spu,ShopCategory shop where 
	sku.SPUID = spu.SPUID and spu.ShopID = shop.ShopID order by onclicknum desc
GO
/****** Object:  StoredProcedure [dbo].[selspuandshoptype]    Script Date: 2020/11/19 11:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[selspuandshoptype]
as
    --要求book_id和book_Auth列与输入参数相等
    select spu.*,shop.TypeName from goodsSPUTables spu,ShopCategory shop where spu.ShopID = shop.ShopID
GO
/****** Object:  StoredProcedure [dbo].[selspuandtype_id]    Script Date: 2020/11/19 11:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[selspuandtype_id](
@id int
)
as
    select sku.*,spu.SPUGoodName,spu.GoodInfo,shop.TypeName from 
	goodsSKUTables sku,goodsSPUTables spu,ShopCategory shop 
	where sku.SPUID = spu.SPUID and spu.ShopID = shop.ShopID and shop.ShopID = @id
GO
/****** Object:  StoredProcedure [dbo].[selspuandtype_top]    Script Date: 2020/11/19 11:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[selspuandtype_top]
as
    select top 8 sku.*,spu.SPUGoodName,spu.GoodInfo,shop.TypeName from 
	goodsSKUTables sku,goodsSPUTables spu,ShopCategory shop 
	where sku.SPUID = spu.SPUID and spu.ShopID = shop.ShopID and shop.ShopID = 8
GO
USE [master]
GO
